/* Basisstijl voor de pagina */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

/* Vuurwerk Animatie */
.vuurwerk {
    display: none;
    position: fixed;
    font-size: 2em;
    color: #FFD700;
    text-align: center;
    opacity: 0;
    animation: vuurwerkAnimatie 25s ease-in-out infinite;
    pointer-events: none; /* Zorg ervoor dat het vuurwerk geen andere elementen blokkeert */
}

@keyframes vuurwerkAnimatie {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(0) scale(0);
    }
    20% {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1.2);
    }
    25% {
        opacity: 0;
        transform: translateX(-50%) translateY(0) scale(0);
    }
    50% {
        opacity: 1;
        transform: translateX(50%) translateY(-50%) scale(1.2);
    }
    100% {
        opacity: 0;
        transform: translateX(50%) translateY(50%) scale(0);
    }
}

/* Extra styling voor de lijst van laatst ingevoerde namen */
#laatsteNamen {
    list-style-type: none;
    padding: 0;
}

#laatsteNamen li {
    font-size: 18px;
    margin: 5px 0;
}
